.treeView { /* The whole tree view */
	margin-left: -25px;
	background: white;
	white-space:nowrap;	
}
.node { /* A TreeView node */
	padding: 0px;
	margin: 0px;
	padding-left: 77px;
	text-indent: -77px;
}
.selected-node { /* A selected TreeView node */
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	padding-left: 77px;
	text-indent: -77px;
}
.cselected-node { /* A TreeView node containing the selected node */
	padding: 0px;
	margin: 0px;
	padding-left: 77px;
	text-indent: -77px;
}	
.btn { /* A TreeView button */
	border: 0px; 
	vertical-align: middle; 
	position: relative; 
	left: -15px;
	cursor: hand;
	z-index: 1;
}
.ds { /* TreeView Vertical dashes */
	vertical-align: top; 
	position: relative; 
	top: 0px;
	margin-top: -7px;
	left: 25px;
}
.s-ds { /* Horizontal dashes */
	vertical-align: middle;
	position: relative;
	left: 13px;
}
.icon { /* TreeView node icon */
	vertical-align: middle; 
	position: relative; 
	left: -7px;
	z-index: 1;
}
.children { /* TreeView child node group */
	display: none;
	margin-left: 25px;
}
.cselected-children { /* TreeView child node group containing the selected node */
	display: block;
	margin-left: 25px;
}

.treeView a { /* Links to nodes in the TreeView */
	color: black;
	text-decoration: none;
}
.treeView a:hover { /* Underline links when hovering over them */
	text-decoration: underline;
}
.treeView p {
	color: black;
}